<h1>About Us</h1>
<p>Hi, I'm Emily! I am a tech-enthusiast that works in Communications for an NGO. I love seeing how technology creates solutions and felt the need to learn more about rails, so that when the right idea strikes, I can create something cool that helps people. </p>

